@import "~bulma/sass/utilities/functions.sass";
@import "~bulma/sass/utilities/initial-variables.sass";
@import "~bulma/sass/utilities/derived-variables.sass";

$bleuvert: #1e7d97;
$jaune: #ffd599;
$violet: #424056;

/**
 * Text body, paragraphs
 */
$violet-1: #3a384c;
$violet-2: #474467;

/**
 * Titles, dark borders, buttons
 */
$violet-3: #3c376e;

/**
 * Borders
 */
$borders: #d7d6de;
$backgrounds: #ecebf2;

/**
 * Text
 */
$purple-1: #757199;

/**
 * Background
 */
$purple-2: #cdcaea;
$purple-3: #e6e4f4;

$orange-2: #ed8d07;
$orange-3: #d35204;

$yellow-1: #ffd599;
$yellow-2: #fff1de;
$yellow-3: #fbd5cb;
$yellow-4: #f7ba30;

$primary: $bleuvert;
$primary-invert: findColorInvert($primary);
$secondary: $jaune;
$secondary-invert: findColorInvert($secondary);

$background-color: $violet-2;

$success: #0d8758;
$success-invert: findColorInvert($success);
$info: #36bcd4;
$info-invert: findColorInvert($info);
$danger: #ff2e54;
$danger-invert: findColorInvert($danger);
$link: $primary;
$link-invert: $primary-invert;
$text: $violet-1;

$colors: map-merge(
  $colors,
  (
    "primary": (
      $primary,
      $primary-invert,
    ),
    "secondary": (
      $secondary,
      $secondary-invert,
    ),
    "success": (
      $success,
      $success-invert,
    ),
    "info": (
      $info,
      $info-invert,
    ),
    "danger": (
      $danger,
      $danger-invert,
    ),
    "link": (
      $link,
      $link-invert,
    ),
    "grey": (
      $grey,
      findColorInvert($grey),
    ),
  )
);

// Navbar
$navbar-background-color: $secondary;
$navbar-item-color: $background-color;
$navbar-height: 4rem;

// Footer
$footer-padding: 3rem 1.5rem 1rem;
$footer-background-color: $background-color;

$body-background-color: #efeef4;
$fullhd-enabled: false;
$hero-body-padding-medium: 6rem 1.5rem;

main > .container {
  background: $body-background-color;
  min-height: 70vh;
}

$title-color: #3c376e;
$title-family: "Liberation Sans", "Helvetica Neue", Roboto, Helvetica, Arial,
  serif;
$title-weight: 700;
$title-size: 40px;
$title-sub-size: 45px;
$title-sup-size: 30px;

$subtitle-color: #3a384c;
$subtitle-family: "Liberation Sans", "Helvetica Neue", Roboto, Helvetica, Arial,
  serif;
$subtitle-weight: 400;
$subtitle-size: 32px;
$subtitle-sub-size: 30px;
$subtitle-sup-size: 15px;

.title {
  margin: 30px auto 45px;
}

.subtitle {
  background: $secondary;
  display: inline;
  padding: 3px 8px;
  margin: 15px auto 30px;
}

//$input-border-color: #dbdbdb;
$breadcrumb-item-color: $primary;
$checkbox-background-color: #fff;
$title-color: $violet-3;
